/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0;
  padding:0;
}

#blog-main {
  background-color: #fffff2;
  width: 50%;
  border: 1px solid #f9f1f1;
  padding: 30px;
  margin-left: 25%;
}
#blog-title {
  border-bottom: 1px solid black;
}

#blog-details {
  margin: 10px 0 10px 0;
  color: gray;
}

#blog-body {
  text-align: justify;
}

.app-header {
  height: 90px;
  background-color: lightblue;
  padding: 10px;
}

#blog-footer {
  margin-top: 25px;
}

input#tag {
  width: 300px;
  height:  40px;
  border-radius: 21px;
  margin-left: 35%;
  margin-top: 22px;
  padding-left: 10px;
  font-size: 22px;
  border-style: none;
  border: 1px solid teal;
}

input#tag:focus{
  outline: none;
}

#blog {
  background-color: #f9f9f9;
  padding-top: 30px;
  height: 100vh;
}

#blog-logo {
  margin-top: 7px;
  float: left;
  width: 120px;
  font-weight: 700;
  font-size: xx-large;

}

#blog-logo a {
  text-decoration: none;
  color: black;
}

#blogs-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#blogs-table td, #blogs-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#blogs-table tr:nth-child(even){background-color: #f2f2f2;}

#blogs-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: white;
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  background-color: teal;
  color: white;
  border-style: none;
  border-radius: 22px;
}