<div class='app-header'>
  <div id='blog-logo'>
    <%= link_to 'Medium Crawler', root_path %>
  </div>
  <%= form_tag blogs_path do %>
    <div>
      <div class='blog-search'>
        <%= text_field '', 'tag', placeholder: 'Eg: java, ruby', class: 'blog-text-input', required: true, autofocus: true %>
        <%= submit_tag "Search", 'data-disable-with' => 'Crawling..' %>
      </div>
    </div>
  <% end %>
</div>
